:is(.section, .header) {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 48px 16px 48px 16px;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.header {
   padding: 16px;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    &.between{
        justify-content: space-between;
    }
}
@media (min-width: 800px) {
    .section {
        padding: 80px 48px 80px 48px;
    }

    .header {
        padding: 16px 48px;
    }
    .flex-box{
        flex-direction: column;
    }
}

@media (min-width: 1080px) {
    .section {
        padding: 80px 60px 80px 60px;
    }

    .header {
        padding-inline: 60px;
    }
}

@media (min-width: 1200px) {
    .section {
        padding: 80px;
    }

    .header {
        padding-inline: 80px;
    }
}

@media (min-width: 1440px) {
    .section {
        padding: 100px;
    }

    .header {
        padding-inline: 100px;
    }
}


@media (min-width: 1600px) {
    .section {
        padding: 100px;
    }

    .header {
        padding-inline: 100px;
    }
}