:root {
  --max-width: 1600px;
  --default-white: #FFFFFF;
  --primary: #2B3990;
  --primary-700: #111827;


  --secondary-600:#6A7077;
  --secondary-700:#878B94;


  --breadcrumb-last: #4D545C;
  --breadcrumb-ative: #0D0D0D;

  --table-color-one:#374151;
  --table-color-two:#1F2937;

  --card-border:#CFD1D4;

  --font-14: 0.875rem;
    --font-18: 1.125rem;
  --font-26: 1.625rem;
  --font-56: 3.5rem;
  --font-36: 2.25rem;
  --font-48: 3rem;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter_18pt-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}